@model DeployIt.Models.ProjectConfig

@{
    ViewBag.Title = "Edit a project deployment settings";
}

@using (Html.BeginForm("Edit", "Settings", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TfsProjectName, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.TfsProjectName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Branch, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Branch, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SourceSubFolder, new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.SourceSubFolder, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DestinationRootLocation, new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.DestinationRootLocation, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DetinationProjectFolder, new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.DetinationProjectFolder, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.VersionKeyName, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.VersionKeyName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="margin-top: 50px;">
        <div class="col-md-offset-3 col-md-7">
            <button type="submit" class="btn btn-primary" style="width: 150px;">Edit</button>
            
            <button id="deleteButton" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger pull-right" style="width: 150px;">Delete!</button>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm</h4>
            </div>
            <div class="modal-body">
                <p>
                    <h4 style="color: red;">Are you sure you want to delete settings for project '@Model.Name'?</h4>
                    <br/>
                    <br/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100px;" onclick="deleteConfig(@Model.Id);">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100px;">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="resultModalLabel">Result</h4>
            </div>
            <div class="modal-body">
                <p>
                    <h4>Project '@Model.Name' has been deleted.</h4>
                    <br/>
                    <br/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100px;" onclick="window.location.href='@Url.Action("Index")';">Ok</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var deleteConfig = function (id) {
            console.log('deleting ' + id);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete")/' + id
            });
        }

        var displayAlert = function (msg) {
            $('#alertDiv').show();
            $('#alertText').text(msg);
        }

        $(document).ajaxSuccess(function (event, xhr, settings) {
            if (xhr.status == 200) {
                $('#myModal').modal('hide');
                $('#resultModal').modal('show');
            } else {
                displayAlert(xhr.status + ' ' + xhr.statusText);
            }
        });

        $(document).ajaxError(function (event, xhr, settings) {
            $('#myModal').modal('hide');
            displayAlert(xhr.status + ' ' + xhr.statusText);
        });
    </script>
    
}