@model IEnumerable<DeployIt.Models.ProjectConfig>

@{
    ViewBag.Title = "Project Settings";
}

<div class="clearfix">
    @Html.ActionLink("Add a project settings", "Add", "Settings", null, new { @class = "btn btn-default pull-right" })
</div>

<div class="panel panel-default margin-top-5">
    <div class="panel-heading">
        <strong>@ViewBag.Title</strong>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>TFS Project Name</th>
                    <th>Branch</th>
                    <th>Project Folder</th>
                    <th>Version Key</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var config in Model)
                {
                    <tr>
                        <td>@config.Name</td>
                        <td>@config.TfsProjectName</td>
                        <td>@config.Branch</td>
                        <td>@config.DetinationProjectFolder</td>
                        <td>@config.VersionKeyName</td>
                        <td>
                            <a href="#" onclick="copyConfig('@Url.Action("Copy", "Settings", new{config.Id}, null)');" title="Copy this settings">
                                <span class="glyphicon glyphicon-share-alt"></span>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Settings", new{config.Id}, null)" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var copyConfig = function(url) {
            console.log(url);
            $.ajax({
                url: url,
                success: function (msg) {
                    console.log(msg);
                    $(location).attr('href', '@Url.Action("Index", "Settings")');
                },
                error: function(event, xhr, settings) {
                    displayAlert(xhr.status + ' ' + xhr.statusText);
                }
            });
        }

        var displayAlert = function(msg) {
            $('#alertDiv').show();
            $('#alertText').text(msg);
        }
    </script>
}
